---
import CartaSectionEntradas from "../components/CartaSectionEntradas.astro";
import CartaSectionCeviches from "../components/CartaSectionCeviches.astro";
import CartaSectionPlatosFuertes from "../components/CartaSectionPlatosFuertes.astro";
import CartaSectionBebidas from "../components/CartaSectionBebidas.astro";
---

<main class="mt-16 mb-8 px-12">
  <CartaSectionEntradas />

  <CartaSectionCeviches />

  <CartaSectionPlatosFuertes />

  <CartaSectionBebidas />
</main>
