---
import EventCard from "../components/EventCard.astro";
import SectionTitle from "../components/SectionTitle.astro";
---

<section class="pageSection hidden">
  <SectionTitle titleText="Eventos" />
  <EventCard
    title="Quinceañera"
    description="Haz que tu fiesta de quince años sea inolvidable en Rudy's. Ofrecemos un ambiente elegante y una gastronomía exquisita."
    imgTitle="quinceanera"
    imgDescription="Imagen referencial para el evento de quinceañera en Rudy's"
  />

  <EventCard
    title="Cumpleaños"
    description="Disfruta de una fiesta inolvidable en Ruys Pollería y Cevichería! Perfecta para niños, con deliciosas comidas y un ambiente acogedor."
    imgTitle="cumpleanos"
    imgDescription="Imagen referencial para el evento de cumpleaños en Rudy's"
  />

  <EventCard
    title="Promoción"
    description="Celebra tu promoción escolar con descuentos especiales, y disfruta de nuestros deliciosos platillos."
    imgTitle="promocion"
    imgDescription="Imagen referencial para el evento de promoción en Rudy's"
  />
</section>
