---
import Carrusel from "../components/Carrusel.astro";
import Populares from "../components/Populares.astro";
---

<main class="pageSection activo mt-8 mb-16">
  <Carrusel />

  <Populares />
</main>
