---
import MenuPdf from "../components/MenuPdf.astro";
import MenuSections from "../components/MenuSections.astro";
---

<main class="pageSection hidden mt-8 mb-16">
  <MenuSections />

  <MenuPdf />
</main>
