---
import MenuPdf from "../components/MenuPdf.astro";
import MenuSections from "../components/MenuSections.astro";
---

<main class="pageSection hidden my-8">
  <MenuSections />

  <MenuPdf />
</main>
