---
import Comments from "../components/Comments.astro";
import Galery from "../components/Galery.astro";
import Informacion from "../components/Informacion.astro";
import Mapa from "../components/Mapa.astro";
---

<main class="pageSection activo my-8">
  <Informacion />

  <Galery />

  <Comments />

  <Mapa />
</main>
