---
import Comments from "../components/Comments.astro";
import Gallery from "../components/Gallery.astro";
import Informacion from "../components/Informacion.astro";
import Mapa from "../components/Mapa.astro";
---

<main class="pageSection hidden my-8">
  <Informacion />

  <Gallery />

  <Comments />

  <Mapa />
</main>
