---
import Comments from "../components/Comments.astro";
import Gallery from "../components/Gallery.astro";
import Informacion from "../components/Informacion.astro";
import Mapa from "../components/Mapa.astro";
import AddComment from "../components/AddComment.astro";
---

<main class="pageSection hidden mt-8 mb-16">
  <Informacion />

  <Gallery />

  <Comments />
  <AddComment />

  <Mapa />
</main>
