<div class="sm:flex sm:justify-center">
  <a
    href="https://forms.gle/9vQ9ApRSA6hgBicD6"
    target="_blank"
    class="addComment fixed z-50 top-[40%] right-0
      bg-white px-8 py-4 hover:bg-red-800 hover:text-white
      translate-x-full transition-all duration-300
      uppercase font-bold text-red-800 text-xl rounded-s-2xl
      
      sm:static sm:rounded-lg sm:bg-red-900 sm:px-4 sm:py-2 sm:shadow-sm sm:text-white sm:hover:scale-105 sm:hover:bg-red-800 sm:transition-all sm:font-normal sm:translate-x-0 sm:my-8"
  >
    Queremos saber tu opinión
  </a>
</div>
