---

---

<!-- <article class="relative">
  <main class="w-[1000px] h-[600px] relative m-auto">
    <div class="absolute -left-20 scale-90 h-full overflow-hidden">
      <img
        class="w-full h-full"
        src="/carrusel/pollo1.webp"
        alt="Imagen referencial para la primera promoci贸n de pollo."
      />
    </div>

    <div class="absolute z-50 h-full overflow-hidden">
      <img
        class="w-full h-full"
        src="/carrusel/principal.webp"
        alt="Imagen principal del carrusel de imagenes de promociones."
      />
    </div>

    <div class="absolute -right-20 scale-90 h-full overflow-hidden">
      <img
        class="w-full h-full"
        src="/carrusel/pescado1.webp"
        alt="Imagen referencial para la primera promoci贸n de pescado."
      />
    </div>
  </main>
</article> -->
<article>
  <swiper-container class="relative w-[1000px] h-[600px]">
    <swiper-slide>
      <div class="h-full overflow-hidden">
        <img
          class="w-full h-full"
          src="/carrusel/pollo1.webp"
          alt="Imagen referencial para la primera promoci贸n de pollo."
        />
      </div>
    </swiper-slide>

    <swiper-slide class="absolute -z-10">
      <div class="h-full overflow-hidden">
        <img
          class="w-full h-full"
          src="/carrusel/principal.webp"
          alt="Imagen principal del carrusel de imagenes de promociones."
        />
      </div>
    </swiper-slide>

    <swiper-slide>
      <div class="h-full overflow-hidden">
        <img
          class="w-full h-full"
          src="/carrusel/pescado1.webp"
          alt="Imagen referencial para la primera promoci贸n de pescado."
        />
      </div>
    </swiper-slide>
  </swiper-container>
</article>

<script
  src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"
></script>
