---
import CartaDishCard from "./CartaDishCard.astro";
---

<section class="flex flex-row flex-wrap justify-between mb-12">
  <div id="bebidas" class="w-full h-36"></div>
  <h2 class="uppercase w-full ml-2 text-white text-4xl font-bold border-b">
    Bebidas
  </h2>

  <CartaDishCard
    title="1L de Maracuyá"
    description="El jugo de maracuyá es una refrescante y exótica bebida, perfecta para calmar la sed y disfrutar de un sabor tropical. Esta bebida se elabora con maracuyá (fruta de la pasión), cuya pulpa se extrae y se mezcla con agua y azúcar al gusto. El resultado es un jugo de color vibrante y aroma irresistible, con un equilibrio perfecto entre dulzura y acidez que despierta los sentidos. Rico en vitamina C y antioxidantes, el jugo de maracuyá no solo es delicioso, sino también beneficioso para la salud"
    ingredients={[]}
    price="7.99"
    imgTitle="1l-de-maracuya"
    imgDescription="Imagen referencial de la bebida 1L de Maracuyá"
  />

  <CartaDishCard
    title="1L de Chicha Morada"
    description="La chicha morada es una tradicional y refrescante bebida peruana, reconocida por su color profundo y su sabor único. Esta bebida se elabora a partir de maíz morado hervido junto con cáscaras de piña, membrillo, clavo de olor y canela. Una vez hervida y colada, se endulza con azúcar y se le agrega jugo de limón para darle un toque cítrico. El resultado es una bebida de color vibrante, aroma especiado y sabor equilibrado entre dulce y ácido. Además de ser deliciosa, la chicha morada es rica en antioxidantes y tiene propiedades beneficiosas para la salud."
    ingredients={[]}
    price="9.99"
    imgTitle="1l-de-chicha-morada"
    imgDescription="Imagen referencial de la bebida 1L de Chicha Morada."
  />

  <CartaDishCard
    title="1L de Limonada"
    description="La limonada es una bebida clásica y refrescante, perfecta para cualquier ocasión. Esta bebida se elabora mezclando jugo de limón fresco con agua y azúcar al gusto, creando una combinación equilibrada de sabores cítricos y dulces que es a la vez revitalizante y deliciosa."
    ingredients={[]}
    price="11.99"
    imgTitle="1l-de-limonada"
    imgDescription="Imagen referencial de la bebida 1L de Limonada."
  />

  <CartaDishCard
    title="Agua"
    description="El agua es la bebida más esencial y vital para la vida, reconocida por su pureza y capacidad de hidratar el cuerpo. El agua pura y fresca proporciona una manera sencilla y efectiva de mantenerse hidratado, ayudando a regular la temperatura corporal, transportar nutrientes y oxígeno a las células."
    ingredients={[]}
    price="1.99"
    imgTitle="agua"
    imgDescription="Imagen referencial de la bebida Agua."
  />
</section>
