---
import CartaDishCard from "./CartaDishCard.astro";
---

<section class="flex flex-row flex-wrap justify-between mb-12 sm:flex-col">
  <div id="entradas" class="w-full h-36 sm:h-20"></div>
  <h2 class="uppercase w-full ml-2 text-white text-4xl font-bold border-b">
    Entradas
  </h2>

  <CartaDishCard
    title="Leche de Tigre"
    description="La leche de tigre es un vibrante y refrescante jugo cítrico que se destaca en la gastronomía peruana. Es el líquido resultante de marinar pescado crudo en una mezcla de limón o lima, ají, cebolla roja, cilantro y otros condimentos, dando como resultado una combinación ácida, picante y llena de sabor."
    ingredients={[]}
    price="14.99"
    imgTitle="leche-de-tigre"
    imgDescription="Imagen referencial del platillo Leche de Tigre."
  />

  <CartaDishCard
    title="Conchitas a la Parmesana"
    description="Las conchitas a la parmesana son una exquisita delicia de la cocina peruana que celebra el sabor y la textura de las conchitas de mar. Este plato consiste en conchas de vieira o conchas de mar, que se rellenan con una mezcla cremosa de queso parmesano, mantequilla, ajo y hierbas. Luego se gratinan al horno hasta alcanzar una capa dorada y burbujeante. El resultado es un aperitivo o entrada elegante, con un contraste perfecto entre la suavidad de las conchas y la intensidad del queso."
    ingredients={[]}
    price="14.99"
    imgTitle="conchitas-a-la-parmesana"
    imgDescription="Imagen referencial del platillo Conchitas a la Parmesana."
  />

  <CartaDishCard
    title="Causa con Pulpa de Crangrejo"
    description="La causa con pulpa de cangrejo es una joya de la gastronomía peruana que combina la suavidad y el sabor de la papa con la frescura del cangrejo. Este plato se prepara con capas de papa amarilla peruana prensada y sazonada con ají amarillo, limón y aceite, formando una base suave y sabrosa. La pulpa de cangrejo, mezclada con mayonesa, limón y otros condimentos, se coloca entre las capas de papa, creando un contraste delicioso y refrescante. Decorada con palta, huevo duro, aceitunas y perejil, la causa con pulpa de cangrejo es una entrada vistosa y deliciosa, perfecta para resaltar los sabores únicos y diversos de Perú."
    ingredients={[]}
    price="19.99"
    imgTitle="causa-con-pulpa-de-cangrejo"
    imgDescription="Imagen referencial del platillo Causa con Pulpa de Cangrejo."
  />

  <CartaDishCard
    title="Causa de Langostinos"
    description="La causa de langostinos es una deliciosa especialidad peruana que destaca por su frescura y sabor. Este plato se elabora con capas de papa amarilla peruana, que se mezclan con ají amarillo, jugo de limón, aceite y sal, formando una base suave y ligeramente picante. Entre las capas de papa, se incorpora una generosa porción de langostinos cocidos, sazonados con mayonesa, jugo de limón y hierbas frescas, creando una combinación exquisita y refrescante."
    ingredients={[]}
    price="19.99"
    imgTitle="causa-de-langostinos"
    imgDescription="Imagen referencial del platillo Causa de Langostinos."
  />

  <CartaDishCard
    title="Causa Acevichada"
    description="La causa acevichada es una innovadora fusión de dos clásicos peruanos: la causa limeña y el ceviche. Este plato consiste en capas de papa amarilla peruana, prensada y mezclada con ají amarillo, limón, y aceite, creando una base suave y llena de sabor. Sobre esta base se coloca una capa de ceviche, que incluye pescado fresco marinado en jugo de limón, ají, cebolla roja, cilantro y otros condimentos, dando un toque ácido y picante. La combinación resulta en una explosión de sabores y texturas que capturan la esencia de la cocina peruana."
    ingredients={[]}
    price="19.99"
    imgTitle="causa-acevichada"
    imgDescription="Imagen referencial del platillo Causa Acevichada."
  />
</section>
