---
import CartaDishCard from "./CartaDishCard.astro";
---

<section class="flex flex-row flex-wrap justify-between mb-12">
  <div id="platos-fuertes" class="w-full h-36"></div>
  <h2 class="uppercase w-full ml-2 text-white text-4xl font-bold border-b">
    Platos Fuertes
  </h2>

  <CartaDishCard
    title="Broaster de Una Pieza"
    description="Este plato consiste en una pieza de pollo, generalmente muslo o pechuga, que se marina en una mezcla de especias y luego se empaniza antes de freírse a presión. El resultado es una pieza de pollo con una corteza dorada y crujiente por fuera, mientras que el interior se mantiene tierno y jugoso. A menudo se acompaña de papas fritas, ensalada fresca y diversas salsas, como mayonesa, ají o ketchup, que realzan su sabor."
    ingredients={[]}
    price="14.99"
    imgTitle="broaster-de-una-pieza"
    imgDescription="Imagen referencial del platillo Broaster de Una Pieza."
  />

  <CartaDishCard
    title="Chaufa de Pollo"
    description="Este platillo consiste en arroz salteado al estilo chino, mezclado con trozos de pollo cocido, huevo revuelto, cebolla china, pimientos y salsa de soja. El arroz se saltea a fuego alto en un wok, lo que le da una textura ligeramente crujiente y un sabor ahumado característico. La combinación de ingredientes y condimentos crea un equilibrio perfecto entre sabores salados y dulces."
    ingredients={[]}
    price="11.99"
    imgTitle="chaufa-de-pollo"
    imgDescription="Imagen referencial del platillo Chaufa de Pollo."
  />

  <CartaDishCard
    title="Tallarín Saltado Criollo"
    description="El tallarín saltado criollo es un sabroso y colorido plato de la gastronomía peruana, que refleja la influencia de la cocina china en el país. Este platillo consiste en tallarines (fideos) salteados con tiras de carne (generalmente de res), cebolla, tomate, pimiento, y cebolla china. Los ingredientes se cocinan rápidamente en un wok a fuego alto con salsa de soja, vinagre, ajo y ají, creando una mezcla de sabores ahumados, salados y ligeramente picantes. A menudo se adorna con cilantro fresco, y en algunos casos, se le agrega un toque de jengibre para intensificar su sabor. El tallarín saltado criollo es una opción deliciosa y versátil para una comida principal."
    ingredients={[]}
    price="14.99"
    imgTitle="tallarin-saltado-criollo"
    imgDescription="Imagen referencial del platillo Tallarín Saltado Criollo."
  />

  <CartaDishCard
    title="Mostrito con 1/4 de Pollo"
    description="El mostrito con un cuarto de pollo es un plato popular y contundente en la gastronomía peruana, que combina varios elementos típicos de la cocina del país. Este platillo consiste en un cuarto de pollo a la brasa, generalmente sazonado con una mezcla de especias peruanas y cocido a la perfección hasta obtener una piel crujiente y un interior jugoso. Acompañando al pollo, se sirve una generosa porción de arroz chaufa, que es arroz frito al estilo chino-peruano con huevo, cebolla china, y salsa de soja. Además, el mostrito incluye papas fritas crocantes y una ensalada fresca."
    ingredients={[]}
    price="19.99"
    imgTitle="mostrito-con-un-cuarto-de-pollo"
    imgDescription="Imagen referencial del platillo Mostrito con 1/4 de Pollo."
  />

  <CartaDishCard
    title="Pollo a la Plancha"
    description="El pollo a la plancha es un plato simple pero delicioso, popular en muchas regiones de Perú por su sabor y versatilidad. Este platillo consiste en pechugas de pollo marinadas en una mezcla de especias, ajo, y jugo de limón, y luego cocidas a la plancha hasta alcanzar una textura jugosa por dentro y ligeramente dorada por fuera. El proceso de cocción resalta el sabor natural del pollo, manteniéndolo tierno y sabroso. A menudo se sirve acompañado de ensaladas frescas, papas doradas o arroz."
    ingredients={[]}
    price="19.99"
    imgTitle="pollo-a-la-plancha"
    imgDescription="Imagen referencial del platillo Pollo a la Plancha."
  />
</section>
