---
import CartaDishCard from "./CartaDishCard.astro";
---

<section class="flex flex-row flex-wrap justify-between mb-12">
  <div id="ceviches" class="w-full h-36"></div>
  <h2 class="uppercase w-full ml-2 text-white text-4xl font-bold border-b">
    Ceviches
  </h2>

  <CartaDishCard
    title="Arroz con Mariscos"
    description="El arroz con mariscos es un festín de sabores marinos y uno de los platos más apreciados de la gastronomía peruana. Este plato consiste en arroz cocido con una rica mezcla de mariscos frescos, que pueden incluir calamares, mejillones, camarones y almejas, sazonados con ají amarillo, ajo, cebolla, y un toque de cilantro. El arroz adquiere un color vibrante y un sabor intenso gracias a la combinación de los mariscos y los condimentos, creando una experiencia culinaria compleja y deliciosa. A menudo decorado con rodajas de limón y acompañado de salsa criolla, el arroz con mariscos es un plato principal sustancioso y lleno de sabor, perfecto para disfrutar en una comida familiar o una celebración especial."
    ingredients={[]}
    price="24.99"
    imgTitle="arroz-con-mariscos"
    imgDescription="Imagen referencial del platillo Arroz con Mariscos."
  />

  <CartaDishCard
    title="Ceviche de Pescado"
    description='El ceviche de pescado es un ícono de la gastronomía peruana, conocido por su frescura y su vibrante sabor. Este plato se elabora con pescado fresco, cortado en pequeños trozos y marinado en jugo de limón o lima, lo que "cocina" el pescado con su acidez. A la mezcla se añaden ají, cebolla roja en juliana, cilantro y sal, creando una combinación perfectamente equilibrada de sabores cítricos, picantes y frescos. A menudo se sirve acompañado de choclo (maíz peruano), camote (batata) y cancha (maíz tostado), proporcionando un contraste de texturas que complementan el pescado marinado. El ceviche de pescado es una entrada refrescante y deliciosa, ideal para disfrutar en cualquier ocasión.'
    ingredients={[]}
    price="24.99"
    imgTitle="ceviche-de-pescado"
    imgDescription="Imagen referencial del platillo Ceviche de Pescado."
  />

  <CartaDishCard
    title="Sudado de Filete de Pescado"
    description="El sudado de filete de pescado es un plato tradicional de la cocina peruana, conocido por su sabor robusto y reconfortante. Este guiso se prepara con filetes de pescado fresco, que se cocinan lentamente en una salsa de tomates, cebolla, ají amarillo, ajo y chicha de jora (una bebida fermentada de maíz), que le aporta un toque ácido y ligeramente dulce. La combinación de estos ingredientes da como resultado un caldo sabroso y aromático que realza la delicadeza del pescado. A menudo se sirve con yuca, papa o arroz blanco, y se decora con cilantro fresco y rodajas de limón. El sudado de filete de pescado es una opción perfecta para una comida reconfortante y deliciosa, que captura la esencia de la cocina costera peruana."
    ingredients={[]}
    price="19.99"
    imgTitle="sudado-de-filete-de-pescado"
    imgDescription="Imagen referencial del platillo Sudado de Filete de Pescado."
  />

  <CartaDishCard
    title="Chicharron de Pescado"
    description="El chicharrón de pescado es una deliciosa y crujiente especialidad de la cocina peruana, perfecta para los amantes de los mariscos. Este plato se elabora con filetes de pescado fresco, que se cortan en trozos, se sazonan y se empanizan con una mezcla de harina y especias. Luego, se fríen hasta alcanzar una textura dorada y crujiente por fuera, mientras se mantienen jugosos y tiernos por dentro. A menudo se sirve acompañado de yuca frita o papas, y una salsa criolla hecha con cebolla roja, ají, cilantro y jugo de limón, que añade un toque fresco y picante al plato. El chicharrón de pescado es ideal como aperitivo o plato principal, ofreciendo una explosión de sabor y textura en cada bocado."
    ingredients={[]}
    price="24.99"
    imgTitle="chicharron-de-pescado"
    imgDescription="Imagen referencial del platillo Chicharron de Pescado."
  />

  <CartaDishCard
    title="Ceviche de Trucha"
    description='El ceviche de trucha es una variante exquisita del clásico ceviche peruano. Este plato se prepara con trucha fresca, cortada en pequeños trozos y marinada en jugo de limón o lima, lo que "cocina" el pescado con su acidez. A la mezcla se añaden ají, cebolla roja en juliana, cilantro y sal, creando una combinación perfectamente equilibrada de sabores cítricos, picantes y frescos. El ceviche de trucha es una entrada refrescante y deliciosa, ideal para disfrutar en cualquier ocasión, especialmente en regiones andinas donde la trucha es abundante.'
    ingredients={[]}
    price="24.99"
    imgTitle="ceviche-de-trucha"
    imgDescription="Imagen referencial del platillo Ceviche de Trucha."
  />
</section>
