---
import CommentCard from "./CommentCard.astro";
import SectionTitle from "./SectionTitle.astro";
---

<section>
  <SectionTitle titleText="Comentarios" />
  <!-- Crear componente "Comments" y hacer el funcionamiento del slider ahí -->
  <CommentCard
    userName="Angelo Torres"
    perfil="angelo-torres"
    comment="Este lugar es genial. El pollo a la brasa es jugoso y lleno de sabor, y el ceviche está fresco y delicioso. El ambiente es relajado y el personal es muy amable. ¡Perfecto para una comida casual entre amigos!"
    rating="★★★★☆"
  />
</section>
