---
interface Props {
  title: string;
  description: string;
  imgTitle: string;
  imgDescription: string;
}

const { title, description, imgTitle, imgDescription } = Astro.props;
---

<article
  class="relative w-4/5 m-auto rounded-lg overflow-hidden mt-8 mb-16 last:mb-8"
>
  <img
    class="w-full h-full"
    src=`/eventos/${imgTitle}.webp`
    alt={imgDescription}
  />
  <div
    class="absolute bottom-5 left-5 bg-white p-4 w-[400px] rounded-2xl flex flex-col gap-2 justify-center items-center"
  >
    <h3 class="uppercase text-3xl font-bold">{title}</h3>
    <p class="text-justify w-[90%]">{description}</p>
    <button
      class="pdfButton rounded-lg shadow-sm bg-red-900 px-4 py-2 text-white hover:scale-105 hover:bg-red-800 transition-all"
      >Más información</button
    >
  </div>
</article>
