---
import SectionTitle from "./SectionTitle.astro";
---

<section>
  <SectionTitle titleText="Nuestra galería" />

  <article class="flex flex-row">
    <button>
      <img
        src="/galery/galeria1.webp"
        alt="Foto del local del restaurante Rudy's por dentro."
      />
    </button>
    <button>
      <img
        src="/galery/galeria2.webp"
        alt="Foto del local del restaurante Rudy's por dentro."
      />
    </button>
    <button>
      <img
        src="/galery/galeria3.webp"
        alt="Foto del local del restaurante Rudy's por dentro."
      />
    </button>
    <button>
      <img
        src="/galery/galeria4.webp"
        alt="Foto del local del restaurante Rudy's por dentro."
      />
    </button>
  </article>
</section>
