---
interface Props {
  imgIndex: string;
  imgDescription: string;
}

const { imgIndex, imgDescription } = Astro.props;
---

<button class="inline-block w-1/4 hover:scale-110 transition-transform">
  <img src=`/galery/galeria${imgIndex}.webp` alt={imgDescription} />
</button>
