---
import SectionTitle from "./SectionTitle.astro";
---

<section>
  <SectionTitle titleText="Ubícanos" />
  <article class="p-4 border m-auto w-4/5">
    <iframe
      class="m-auto"
      src="https://www.google.com/maps/d/u/0/embed?mid=1z1eKnCZcm_vBDEt5FvEqhCDhjzMyEP8&ehbc=2E312F&noprof=1"
      width="100%"
      height="640"
      title="Ruta hacia el restaurante Rudy's"
      loading="lazy"
    >
    </iframe>
  </article>
</section>
