---
import PopularCard from "./PopularCard.astro";
---

<section class="mt-24">
  <header
    class="text-white flex flex-row items-center justify-center my-8 gap-4"
  >
    <span class="text-5xl">★</span>
    <h1 class="uppercase font-bold text-4xl">Nuestros platos más populares</h1>
    <span class="text-5xl">★</span>
  </header>

  <main class="flex flex-row justify-around">
    <PopularCard
      dishImg="pollo-a-la-brasa"
      dishTitle="Pollo a la Brasa"
      dishImgDescription="Imagen referencial de un pollo a la brasa."
      dishPrice="19.99"
    />

    <PopularCard
      dishImg="trio-marino"
      dishTitle="Trío Marino"
      dishImgDescription="Imagen referencial de un trío marino."
      dishPrice="24.99"
    />

    <PopularCard
      dishImg="leche-de-tigre"
      dishTitle="Leche de Tigre"
      dishImgDescription="Imagen referencial de una Leche de Tigre."
      dishPrice="14.99"
    />
  </main>
</section>

<script>
  const PLATOS = document.querySelectorAll(".popular");

  PLATOS.forEach((plato) => {
    plato.addEventListener("click", () => {
      alert("hola");
    });
  });
</script>
