---
interface Props {
  titleText: string;
}

const { titleText } = Astro.props;
---

<header class="my-8">
  <h1 class="uppercase text-white text-4xl font-bold text-center my-8">
    {titleText}
  </h1>
</header>
