---
import Inicio from "../modules/Inicio.astro";
import Menu from "../modules/Menu.astro";
import Nosotros from "../modules/Nosotros.astro";
import Eventos from "../modules/Eventos.astro";
---

<main>
  <Inicio />
  <Menu />
  <Nosotros />
  <Eventos />
</main>
