---
import Inicio from "./Inicio.astro";
import Menu from "./Menu.astro";
import Nosotros from "./Nosotros.astro";
import Eventos from "./Eventos.astro";
---

<main>
  <Inicio />
  <Menu />
  <Nosotros />
  <Eventos />
</main>
