---

---

<section class="flex flex-row justify-between items-center bg-white px-8">
  <a href="/">
    <img
      class="w-[240px] mx-2 my-4"
      src="/logos/rudys-logo.svg"
      alt="Logo de Rudy's"
    />
  </a>
  <ul class="flex">
    <li>
      <button class="navLink text-xl px-8 text-red-900 font-semibold">
        Inicio
      </button>
    </li>
    <li>
      <button class="navLink text-xl px-8 text-red-900 font-semibold">
        Menú
      </button>
    </li>
    <li>
      <button class="navLink text-xl px-8 text-red-900 font-semibold">
        Nosotros
      </button>
    </li>
    <li>
      <button class="navLink text-xl px-8 text-red-900 font-semibold">
        Eventos
      </button>
    </li>
  </ul>
</section>
